html,
body {
  background-color: #eee2dc;
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
  padding-top: 65px; 
}

.BigText {
  color: #ac3b61;
  font-size: 8rem;
}

.AboutHeaderText {
  color: #ffc107; 
  font-size: 6rem;
  line-height: 0.8;
}
.HeaderText {
  color: #ac3b61;
  font-size: 6rem;
  line-height: 0.8;
}

.AboutPage {
  background-color: darkcyan;
}

.aboutText {
  color: white;
}

.frontPage {
  color: #123c69;
  font-size: 2.25rem;
}

a,
a:hover {
  color: #123c69;
}

p {
  color: #123c69;
  font-size: 1.25rem;
}

.workCard {
  height: '20rem';
  width: '20rem';
  border-radius: 1rem;
}

.card-link,
.card-link:hover {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
}
.card-link:hover {
  color: #ac3b61;
}

.screenshot {
  width: 100%;
  object-fit: cover;
}


.flex-grid-thirds {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.word-grid {
  margin-top: 28px;
  padding: 0;
  max-width: 1200px;
  font-family: 'Poppins', sans-serif;
}

.col-home {
  text-align: center;
  font-size: 1rem;
  padding: 8px 16px;
  font-weight: 800;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  color: white;
}

.language {
  background-color: #74bdcb;
}

.frontend {
  background-color: #cd853f;
}

.backend {
  background-color: #8b74dc;
}

@media (min-width: 992px) {
  html {
    font-size: 100%;
  }
}
