.BigText {
  color: #AC3B61; 
  font-size: 8rem; 
}

.HeaderText {
  color: #AC3B61; 
  font-size: 6rem; 
}

a, a:hover {
  color:#123C69; 
}

p {
  color: #123C69;
  font-size: 1.25rem; 
}

.card {
  color: #123C69; 
}

html, body {
  background-color: #EEE2DC
}

