.row {
  display: flex; 
}

.col-1 {
  flex: 1; 
}

.col-2 {
  flex: 2; 
}

.col-3 {
  flex: 3; 
}

.col-4 {
  flex: 4; 
}

/* copied from bootstrap, cheated an did max width for phones one less that min width for next size */
@media (max-width: 575px) {
  /* once you get to phone size, what rows to wrap and stack on each other */
  .row {
    flex-wrap: wrap; 
  }
  /* every class attribute that starts with column  */
  /* on a small device, everything is flex: 1 */
  /* take up the entire line at that point */
  [class^=col]{
    flex: 1 0 100%; 
  }
}